<main class="container">
    <h2>Clientes</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Persona</th>
                <th>Instagram</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umCliente of listaClientes">
                <td>`{{umCliente.nome}}</td>
                <td>`{{umCliente.persona}}</td>
                <td>`{{umCliente.instagram}}</td>
                <td>
                    <td><a (click)="alterar(umCliente)"
                    class="btn btn-warning">Editar</a></td>
            </tr>
        </tbody>

    </table>
</main>
